.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  min-height: 539px;
  display: flex;
  flex-direction: column;
  background: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  cursor: default;
  z-index: 2;
}

.button {
  position: absolute;
  top: 60px;
  right: 48px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.button:hover {
  opacity: 0.6;
}
