.image {
  display: block;
  height: 240px;
  width: 480px;
}

.nutrition {
  display: grid;
  grid-template-columns: 120px repeat(3, 112px);
  width: 516px;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.unit {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 120px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-self: flex-start;
  padding-top: 54px;
  display: block;
  height: 51px;
}
