.header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #1c1c21;
}

.menu {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  display: block;
  box-sizing: border-box;
}

.menuLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logo {
  justify-self: center;
  flex-grow: 2;
}
